.question {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}

.question-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}