header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper > img {
  width: 30px;
}

.logo-wrapper {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}