footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.loading {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  color: #777777;
}

.spinner {
  animation: spin 0.7s infinite linear;
}