.summary-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.summary-ordered-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
}

.summary-item-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.summary-description {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  margin: 0;
}