@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mobile-wrapper {
  width: 430px;
  height: 100%;
  box-shadow: 0 0 5px #ccc;
  border-radius: 30px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

main {
  height: 100%;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

.button {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}

.button.primary {
  color: #4285F4;
}

.logo-wrapper > img {
  width: 30px;
}

.logo-wrapper {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.loading {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  color: #777777;
}

.spinner {
  animation: spin 0.7s infinite linear;
}