html,
body {
  margin: 0;
  height: 100dvh;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}